<% provide :title, t("users.history_do_exams.show.title")
 %>
<div class="col-lg-9">
  <h1 class="center"><%= t"users.history_do_exams.show.h1_html" %>
  </h1>
  <table class="table border-bodered table-manager">
    <thead>
      <tr>
        <th scope="col">
          <%= t("users.history_do_exams.show.name") %>
        </th>
        <th scope="col">
          <%= t("users.history_do_exams.show.score") %>
        </th>
        <th scope="col">
          <%= t("users.history_do_exams.show.time") %>
        </th>
        <th scope="col">
          <%= t("users.history_do_exams.show.is_correct_answer")%>
        </th>
      </tr>
      <tr>
        <td>
          <%= @exam.name %>
        </td>
        <td>
          <%= @exam.pass_score %>
        </td>
        <td>
          <%= @exam.time_limit %>
        </td>
        <td>
          <%= @is_true %>
        </td>
      </tr>
    </thead>
  </table>
</div>
<div class="center col-lg-12">
  <div class="view-question">
    <ul class="question-ul">
      <% @history_exam.each do |history| %>
        <li>
          <%= history.question.content %>
        </li>
        <li>
          <% history.question.answers.each do |answer| %>
            <% byebug %>
            <% if answer.content === history.answer && answer.is_correct_answer === true %>
              <span class="answer-true-check">
                <%= answer.answer %>
              </span>
            <% else %>
              <%= history.answer %>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
